$mainFontFamily:  'Work Sans', sans-serif;
$primaryColor: #6edae6;
$white-color: #fff;
$black-color: #000;

$medium_device: 1100px;
$small-medium_device: 750px;
$small-medium_device2: 680px;
$small_device: 475px;
$very_small_device: 360px;